[Unit]
Description=Stream to YouTube live

[Service]
ExecStart=/usr/bin/stream-youtube
Restart=always
TimeoutSec=5

[Install]
WantedBy=default.target
